@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root{
	/* cores*/
	--color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(29, 29, 51, 0.8);
	--color-fundo: rgba(42, 43, 37, 0.582);
	--color-botao: rgba(56, 59, 35, 0.253);
	--color-hover: rgba(28, 29, 27, 0.582);

	/* fontes */
	--fonte-padrao: 'MedievalSharp', cursive;
}

*{
	margin: 0;
	padding: 0;
}

body{
/*	background: var(--color-darkblue-alpha);*/
	font-family: var(--fonte-padrao);
	background-image: url("../img/fundo-medieval.jpg");
	background-size: cover;
  	background-position: center;
}

header{
	text-align: center;
	font-family: var(--fonte-padrao);
	min-height: 80px;
}

header h1{
	padding: 10px;
}

.campo{
	border-radius: 5px;
	width: 60%;
    height: 26px;
	padding-top: 5px;
}

form{
	color: var(--color-white);
	max-width: 600px;
	margin: auto;
	border-radius: 10px;
	background-color: var(--color-fundo);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
	margin-bottom: 17.5em;
}

.grupo-form{
	margin-left: 23%;
	margin-top: 10px;
}

input, textarea{
	font-size: 20px;
}

label{
	display: block;
}

#nome{
	padding-top: 10px;
}

#opc label{
	display: inline;
}

#opc p{
	margin-bottom: 5px;
}

select{
	border-radius: 10px;
	font-size: 15px;
}

textarea{
	margin: 0px;
    width: 297px;
    height: 121px;
	resize: none;
}

button{
	margin-bottom: 0.5em;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
	font-family: var(--fonte-padrao);
	color: var(--color-white);
	background-color: var(--color-botao);
	font-size: 1.5em;
	margin-left: 25%;
	cursor: pointer;
	border-radius: 5px;
}

button:hover{
	background-color: var(--color-hover);
}

footer{
	text-align: center;
	color: white;
}