@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root{
	/* cores*/
	--color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;

	/* fontes */
	--fonte-padrao: 'MedievalSharp', cursive;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background: var(--color-darkblue-alpha);
	font-family: var(--fonte-padrao);
	background-image: url("../img/fundo-medieval.jpg");
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
}

#titulo{
	margin-left: 34%;
	margin-right: 38%;
	font-family: var(--fonte-padrao);
	padding: 1em;
}

#subtitulo{
	margin-left: 31%;
}

#formulario{
	
	color: var(--color-white);
	margin-left: 33%;
}