header.menu{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: auto !important;
}

.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.container :not(:first-child){
    margin-top: 15px;
}

.photo,
.description,
.counter__friends,
.counter__comunity{
    width: 100%;
    height: 300px;
    border: 2px solid rgba(121, 121, 121);
    background-color: white;
    border-radius: 10px;
}

.photo{
    height: 500px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.photo_avatar > img{
    border-radius: 15px;
}

.photo__tools > div > i{
    margin-right: 15px;
}

.photo__name > h1{
    font-size: 30px;
    margin-bottom: 5px;
}

/*.photo > *{
    border: 2px solid red;
}*/

.description{
    height: 800px;
    max-width: 100vh; /* olhar aqui como vai ficar */    
}

.counter__friends,
.counter__comunity{
    height: 350px;
    width: 340px;    
}

header > nav{
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > #title > h1{
    font-size: 50px;
}

header > nav > #hamburguer > label{
    font-size: 50px;
}