@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Metal&family=Metal+Mania&display=swap');

:root{
	--fonte-metallica: 'Metal Mania';
	--fonte-metal: 'Metal';
}

html, body{
	min-height: 100vh;
}

header {
	width: 100%;
	height: 269px;
	margin-left: 570px;
}

main{
	min-width: 762px;
    max-width: 269px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
	background-color: black;
}

main > P{
	font-family: var(--fonte-metallica);
	color: white;
	padding: 0px;
}